scipy>=1.2.1
matplotlib==2.0.2
scikit-learn==0.20.3
keras==2.2.4
tensorflow==1.15.2
xgboost==0.82
argparse==1.4.0
joblib==0.13.2
simplejson==3.8.1
skrebate==0.6
pymrmr==0.1.8
psutil==5.6.2
pandas==0.24.2